<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header *ngIf="tipoDocumento">Alta Documento {{ tipoDocumento.nombre }}</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
              <!-- <input type="file" ng2FileSelect [uploader]="uploader" /> -->
              <formio
              [form]="service.form"
              [src]="service.formUrl"
              [submission]="service.resource"
              [refresh]="service.refresh"
              [hideComponents]="config.parents"
              [error]="onError"
              [success]="onSuccess"
              (submit)="onSubmit($event)"
              ></formio>
              <!-- <p>{{ documentoData }}</p> -->
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
