<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Documentos</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control full-width" placeholder="Ingrese parámetros de búsqueda">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        
        <h5>Últimos documentos cargados</h5>
        <hr>
        <div class="card-deck">
          <div *ngFor="let doc of documentos" class="card">
            <img class="card-img-top" src="{{ doc.fileThumbnail}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ doc.tipoDocumento }}</h5>
              <a href="{{ doc.fileDownloadUrl }}" class="card-link">Download</a>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Última actualización {{ doc.updated }}</small>
            </div>
          </div>
        </div>
        <br>
      </nb-card-body>
    </nb-card>
  </div>
</div>

