<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <i class="fa fa-chevron-circle-left" (click)="goBack()"></i>
          Datos detalle del Documento
        </nb-card-header>
      <nb-card-body>
          <formio
          [form]="service.form"
          [submission]="documentoData"
          [refresh]="service.refresh"
          [readOnly]="true"
          [hideComponents]="config.parents"
          [error]="onError"
          [success]="onSuccess"
          (submit)="onSubmit($event)"
          (submit)="onSubmit()"></formio>
      </nb-card-body>
    </nb-card>
  </div>
</div>
