<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <i class="fa fa-chevron-circle-left" (click)="goBack()"></i>
          Datos detalle del vehiculo
        </nb-card-header>
      <nb-card-body>
        <form *ngIf="documentoForm" [formGroup]="documentoForm" (ngSubmit)="onSubmit()" novalidate>
         <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ documento.fileThumbnail }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ documento.tipoDocumento }}</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <br>
            </div>
            <div class="col-md-9">
              <div class="form-group row">
                <label for="inputVencimiento" class="col-sm-2 form-control-label">Vencimiento</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputVencimiento" placeholder="Vencimiento"
                    formControlName="fechaVencimiento">
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputPreaviso" class="col-sm-2 form-control-label">Preaviso</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="inputPreaviso" placeholder="Preaviso"
                      formControlName="fechaPreaviso">
                  </div>
                </div>

              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <p>Form value: {{ documentoForm.value | json }}</p>
                  <button type="submit" class="btn btn-warning">Guardar</button>
                </div>
              </div>
          </div>
        </div>
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
