<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Empresas</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control full-width" placeholder="Ingrese parámetros de búsqueda">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        
        <h5>Seleccione una empresa para trabajar</h5>
        <hr>
        <div class="card-deck">
          <div *ngFor="let empresa of empresas" class="card">
            <a routerLink="/pages/admin/config/empresas/{{empresa.id}}" >
              <img class="card-img-top" src="{{ empresa.imagen }}" alt="{{ empresa.empresa }}">
            </a>
            <div class="card-body">
              <!-- <h5 class="card-title">{{ doc.tipoDocumento }}</h5>
              <a href="{{ doc.fileDownloadUrl }}" class="card-link">Download</a>
              <p class="card-text"></p> -->
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ empresa.empresa }}</small>
            </div>
          </div>
        </div>
        <br>
      </nb-card-body>
    </nb-card>
  </div>
</div>

